version: '3.3'
services:
  server:
    image: stupefy-rest-service:latest
    build:
      context: .
      dockerfile: Dockerfile
      target: base
    volumes:
      - ./src:/app/src
      - ./nodemon.json:/app/nodemon.json
    ports:
      - 3100:3100
    networks:
      - stupefy-network
    env_file: .env
    depends_on:
      - db
      - redis
    command: npm run dev

  db:
    image: mysql:5.7
    ports:
      - 3308:3306
    volumes:
      - db:/var/lib/mysql
    networks:
      - stupefy-network
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}

  redis:
    image: redis:alpine
    ports:
      - 6379:6379
    networks:
      - stupefy-network

volumes:
  db:
    driver: local

networks:
  stupefy-network:
    driver: bridge
